b,
strong {
    font-weight: 900;
}

h1 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-block-end: 2.77rem;
    line-height: 2.66rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.111rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.611rem;
}

h3.bold,
h3.font-weight-bold {
    font-weight: 900;
}

h4 {
    font-size: 1.8rem;
    font-family: $gliko-font-family;
    font-weight: 500;
    line-height: 2.111rem;
}

h4.bold,
h4.font-weight-bold {
    font-weight: 900;
}

p.sqsrte-large,
p.style-1 {
    font-size: 1.3rem;
    line-height: 1.888rem;
    font-weight: 300;
    margin-bottom: 0.66rem;
    margin-top: 0;
}

p.bold,
p.font-weight-bold,
p.sqsrte-large>strong,
p>style-1>strong {
    font-weight: bold;
}

p,
p.style-2 {
    font-size: 1.1rem;
    line-height: 1.388rem;
}

p.style-2.bold,
p.style-2.font-weight-bold,
p>strong {
    font-weight: 900;
    line-height: 1.555rem;
}

p>em {
    line-height: 1.555rem;
}

p.style-3,
p.sqsrte-small {
    font-family: $gliko-font-family;
    font-weight: 500;
    line-height: 1.888rem;
}

p.style-3.bold,
p.style-3.font-weight-bold,
p.sqsrte-small>strong {
    font-weight: 900;
}

.sqs-button-element--primary,
#siteWrapper.site-wrapper a.sqs-button-element--primary,
#siteWrapper.site-wrapper .sqs-button-element--primary,
.btn-primary {
    font-size: 1.3rem;
    line-height: 1.22rem;
    font-weight: 900;
    border: .22rem solid $color-teal;
    display: inline-flex;
    padding: 1.5rem 2.3rem !important;
    color: $color-teal;
    text-decoration: none;
    border-radius: 12.3rem;
    -moz-border-radius: 12.3rem;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $color-teal;
        color: $color-white;
    }
}

.sqs-button-element--secondary,
#siteWrapper.site-wrapper .sqs-button-element--secondary,
#siteWrapper.site-wrapper a.sqs-button-element--secondary,
.btn-secondary {
    font-size: 1rem;
    line-height: 1.22rem;
    font-weight: 900;
    display: inline-flex;
    padding: .83rem .55rem !important;
    color: $color-teal;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    border-bottom: .22rem solid transparent;

    &:hover {
        border-bottom: .22rem solid $color-teal;
        background: none;
    }
}

.sqs-button-element--tertiary,
#siteWrapper.site-wrapper .sqs-button-element--tertiary,
#siteWrapper.site-wrapper a.sqs-button-element--tertiary,
.btn-tertiary {
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
    padding: .83rem 2rem !important;
    background-color: $color-light-teal;
    border-radius: 12.3rem;
    -moz-border-radius: 12.3rem;
    text-decoration: none;
    color: $color-teal;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

section[data-section-theme="black"] {
    .sqs-button-element--primary,
    #siteWrapper.site-wrapper a.sqs-button-element--primary,
    #siteWrapper.site-wrapper .sqs-button-element--primary,
    .btn-primary {
        border: .22rem solid $color-light-teal;
        background-color: $color-light-teal;
        color: $color-teal;

        &:hover {
           opacity: .8;
        }
    }

    .sqs-button-element--secondary,
    #siteWrapper.site-wrapper .sqs-button-element--secondary,
    #siteWrapper.site-wrapper a.sqs-button-element--secondary,
    .btn-secondary {
        color: $color-light-teal;

        &:hover {
            border-bottom: .22rem solid $color-light-teal;
            background: none;
        }
    }
}

.misc {
    font-size: 1.1rem;
    font-weight: 300;
}

.dropdown-nav-link {
    color: $color-teal;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.22rem;
    text-decoration: none;
    display: inline-block;
}

pre code,
.sqs-block-html pre code,
.sqs-block-html .sqs-block-content pre code {
    font-size: 1.111rem;
    line-height: 1.555rem;
    font-weight: 300;
}

.sqs-block-html a,
.read-more-link,
.entry-excerpt a,
.blog-excerpt a,
.eventlist-excerpt a,
.sqs-block-newsletter .newsletter-form-header a,
.sqs-block-newsletter .newsletter-form-footnote a,
.sqs-block-newsletter .form-submission-text a,
.sqs-block-form .form-submission-text a,
.sqs-block-accordion .accordion-item__description a {
    transition: background-size 200ms ease-out 0s,background-position 200ms ease-out 0s;

    &:hover {
        text-decoration: none;
        background-image: linear-gradient(#d9eeea,#d9eeea),linear-gradient(rgba(0,89,97,0.7),rgba(0,89,97,0.7));
        background-size: 100% 0.6em,100% 0.05em;
        background-position: 0 100%,0 calc(100% - 0.1em);
        background-repeat: no-repeat;
        padding: 0 0 0.1em;
        color: black;
    }
}

// Accodrion Styling.
.accordion-items-container {
    .accordion-item__title-wrapper {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.611rem;
    }

    h3.accordion-item__title,
    .accordion-item__title-wrapper {
        color: $color-gray-70;
        bottom: .5rem;
    }

    .accordion-divider {
        color: $color-gray-30;
        position: relative;
    }

    .plus > div {
        display: none !important;
    }

    .plus {
        position: relative;

        &::after {
            content: "\f078"; /* Font Awesome's unicode value for the chevron-down icon */
            font-family: "Font Awesome 5 Free"; /* Font Awesome's font-family for regular and solid icons */
            font-weight: 900; /* Font Awesome's font-weight for solid icons */
            margin-left: 8px; /* Optional: Add some space between the text and the icon */
            color: $color-gray-70;
        }
    }

    li[data-is-open="true"] .plus::after {
        content: "\f077"; /* Font Awesome's unicode value for the chevron-up icon */
        color: $color-teal;
    }

    .accordion-item__dropdown--open {
        font-size: 1.3rem;
        line-height: 1.888rem;
        font-weight: 300;
        margin-bottom: 0.66rem;
        margin-top: 0;
    }

    .accordion-divider--top {
        display: none;
    }

    .accordion-item__click-target {
        padding-top: 3.33rem !important;
    }

    .accordion-item__description {
        padding-bottom: 0 !important;
    }

    li[data-is-open="true"] {
        .accordion-divider {
            display: none;
        }

        .accordion-item__click-target {
            border-bottom: 4px solid $color-teal;
            margin-bottom: 1.66rem;
            color: $color-teal;
        }
    }
}

// Card styling
ul.user-items-list-item-container {
    &.user-items-list-simple {
      li {
        border-width: 3px 12px 12px 3px;
        border-style: solid;
        border-color: $color-light-teal;
        border-radius: 30px;

        .list-item-media-inner {
          border-radius: 30px 20px 0px 0px;
        }

        .list-item-content {
            padding: .5rem 2.77rem 2.77rem;
        }

        .list-item-content__description {
            color: $color-gray-70;
        }
      }
    }
  }

  #siteWrapper.site-wrapper ul.user-items-list-item-container.user-items-list-simple  a.sqs-button-element--primary {
    font-weight: 600;
    padding: 0 !important;
    border: none;

    &:hover {
        background: none;
        color: $color-teal;
        text-decoration: underline;
    }
  }