@import "variables";
@import "fonts";
@import "grids";
@import "elements";
@import "components/menu";

html {
  font-size: 18px;
}

body * {
  box-sizing: border-box;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-light {
  font-weight: 300;
}

.font-style-italic {
  font-style: italic;
}

.margin-top-50 {
  margin-top: 2.77rem;
}

.margin-bottom-50 {
  margin-bottom: 2.77rem;
}

.margin-top-25 {
  margin-top: 1.38rem;
}

.margin-bottom-18 {
  margin-bottom: 1.38rem;
}

.margin-bottom-18 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

body,
p,
button,
input,
select,
textarea,
optgroup,
option,
label,
a,
a.sqs-block-button-element,
#siteWrapper *:not(h4, h4 strong, h4 em, p.sqsrte-small, p.sqsrte-small strong, p.sqsrte-small em, .fa, .far, .fas),
#siteWrapper .sqs-block-button-element,
table,
th,
td,
blockquote,
pre,
code,
ol,
ul,
li,
dl,
dt,
dd,
figcaption,
figure,
nav,
header,
footer,
article,
section,
aside {
  font-family: $base-font-family;
}

// Overrides.
section[data-current-styles*='"sectionTheme": "dark",'] {
  h1 {
    font-size: 3.33rem;
    line-height: 3.88rem;
    text-shadow: none;
    text-align: left;
  }

  h1 strong {
    font-size: 3.33rem;
    line-height: 3.88rem;
  }

  h1 em {
    font-style: normal;
  }

  .content-wrapper {
    min-height: 15rem;
    display: flex;
    align-items: center;
    padding: 0 !important;
  }
}

ol {
  display: block;
  padding: 0 0 0 4rem;
  list-style: none;
  counter-reset: numList;

  li {
    margin-right: 2.33rem;
    position: relative;
    margin-bottom: 1.66rem;
    font-size: 1.33rem;
    font-weight: 600;
    line-height: 1.611rem;

    &:before {
      counter-increment: numList;
      content: counter(numList);
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: -4rem;
      text-align: center;
      color: $color-light-teal;
      width: 2.33rem;
      height: 2.33rem;
      background: $color-teal;
      -moz-border-radius: 999px;
      border-radius: 999px
    }

    >:first-child:before {
      content: "" !important;
    }
  }
}

.sqs-block-html .sqs-block-content>h1:last-child {
  margin-bottom: 2.77rem;
}

#siteWrapper .user-items-list-item-container.user-items-list-simple[data-title-font-unit="rem"] h2.list-item-content__title {
  font-size: 1.8rem;
}

section.user-items-list-section .list-section-title p {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.111rem;
}