@import "variables";
@import "fonts";
@import "grids";
@import "elements";
@import "components/menu";

html {
  font-size: 18px;
}

body * {
  box-sizing: border-box;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-light {
  font-weight: 300;
}

.font-style-italic {
  font-style: italic;
}

.margin-top-50 {
  margin-top: 2.77rem;
}

.margin-bottom-50 {
  margin-bottom: 2.77rem;
}

.margin-top-25 {
  margin-top: 1.38rem;
}

.margin-bottom-25 {
  margin-bottom: 1.38rem;
}

.text-center {
  text-align: center;
}

body,
p,
button,
input,
select,
textarea,
optgroup,
option,
label,
a,
a.sqs-block-button-element,
#siteWrapper *:not(i),
#siteWrapper .sqs-block-button-element,
table,
th,
td,
blockquote,
pre,
code,
ol,
ul,
li,
dl,
dt,
dd,
figcaption,
figure,
nav,
header,
footer,
article,
section,
aside {
  font-family: $base-font-family;
}

// Overrides.
section[data-current-styles*='"sectionTheme": "dark",'] {
  h1 {
    font-size: 3.33rem;
    line-height: 3.88rem;
    text-shadow: none;
  }
}